@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #03190d;
  --foreground: #eeeeee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #03190d;
    --foreground: #eeeeee;
  }
}

body {
  color: var(--foreground);
  background: #fffaf0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--background);
  color: #fffaf0;
  top: 0px;
  width: 100%;
  padding: 25px 0px 25px;
  text-align: center;
  justify-content: center;
}

footer {
  background-color: var(--background);
  text-align: center;
  justify-content: center;
}
